<!doctype html>
<html>
  <head>
  </head>
  <body>
    <button class="connect-btn">CONNECT</button>
    <button class="send-btn">SEND</button>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>

    <script type="text/javascript" src="/js/sse-client.js"></script>
    <script type="text/javascript" src="/js/main.js"> </script>
  </body>
</html>
